$color_dark_maroon: #800000;
$color_maroon: maroon;
$color_smoke_white: whitesmoke;
$color_3: black;
$color_4: transparent;
$color_5: white;
$color_6: #485563;
$color_7: rgb(240, 248, 255, 0.021);
$color_8: rgb(31,30,30);
$color_gradient_1: linear-gradient(60deg,#29332c 0%, #151615 100%);
$font_family_1: 'Montserrat', sans-serif;
$background_color_1: transparent;
$background_color_2: maroon;
$background_color_3: grey;
$background_color_4: #000000;
$background_color_5: whitesmoke;
$fa-font-path: "assets\font_awesome\webfonts";

/* Colors :
#485563
maroon
*/
@import "https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:wght@300;400;700&display=swap";


/* Keyframes */
@keyframes text_revel_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_revel {
	100% {
		color: $color_smoke_white;
	}
}
@keyframes text_revel_name {
	100% {
		color: $color_maroon;
	}
}

@keyframes hamburger_pulse {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.3);
    }
}

/* End Keyframes */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 15px;
	font-family: $font_family_1;
    scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.cta {
	display: inline-block;
	padding: 10px 30px;
	color: $color_dark_maroon;
	background-color: $background_color_1;
	border: 1.5px solid maroon;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 1rem;
	margin-top: 30px;
	transition: .3s ease;
	transition-property: background-color, color;
	&:hover {
		color: $color_smoke_white;
		background-color: $background_color_2;
	}
}
p {
	color: $color_smoke_white;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: $color_smoke_white;
    span{
        color: $color_dark_maroon;
    }
}

.section_title {
	font-size: 4rem;
	font-weight: 300;
	color: $color_3;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
	span {
		color: $color_dark_maroon;
	}
}

/* Header */
#header {
  position: fixed;
  z-index:  1000;
  left: 0;
  top: 0;
  width: 100vw;
  height:auto;

  .header {
    min-height: 8vh;
    background-color: rgb(31,30,30,0.24);
    transition: 0.3 ease background-color;

    .nav-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        max-width: 1300px;
        padding: 0 10px;
    }

    .nav-list {

        .active {
            left: 0%;
        }

        ul {
            list-style: none;
            position: absolute;
            background-color: $color_8;
            width: 100vw;
            height: 100vh;
            left: 100%;
            top: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 1;
            overflow-x: hidden;
            transition: 0.7s ease left;

            li {
                &:hover {
                    a {
                        color: $color_maroon;

                        &::after {
                            transform: translate(-50%, -50%) scale(1);
                            letter-spacing: initial;
                        }
                    }
                }
            }

            a {
                font-size: 2rem;
                font-weight: 550;
                letter-spacing: 0.2rem;
                text-decoration: none;
                color: $background_color_5;
                text-transform: uppercase;
                padding: 20px;
                display: block;

                &::after {
                    content: attr(data-after);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(0);
                    color: $color_7;
                    font-size: 13rem;
                    letter-spacing: 50px;
                    z-index: -1;
                    transition: 0.3s ease letter-spacing;

                }
            }
        }



        
    }
  }

  .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid $color_5;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px;

    &::after {
        position: absolute;
        content: '';
        height: 100%;
        width:100%;
        border-radius: 50%;
        border: 3px solid $color_5;
        animation: hamburger_pulse .998s ease infinite;
    }

    .bar {
        height: 2px;
        width: 30px;
        position: relative;
        background-color: $color_5;
        z-index: -1;

        &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            background-color: $color_5;
            transition: .3s ease;
            transition-property: top, bottom;
        }
        &::after {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            background-color: $color_5;
            transition: .3s ease;
            transition-property: top, bottom;
        }

        &::after {
            top: 8px;
        }

        &::before {
            bottom: 8px;
        }

        .active {
            .bar {
                &::after {
                    top: 0;
                }
                &::before {
                    bottom: 0;
                }
            }
        }
    }
  }



}


/* Hero Section */
#hero {
	background-color: $background_color_3;
    .header {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 50px;
        justify-content: flex-start;
    }

	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: $background_color_4;
		opacity: 0.7;
		z-index: -1;
	}
	h1 {
		display: block;
		width: fit-content;
		font-size: 4rem;
		position: relative;
		color: $color_4;
		animation: text_revel .5s ease forwards;
		animation-delay: 1s;

		&:nth-child(1) {
			animation-delay: 1s;
			span {
				animation-delay: .5s;
			}
		}

		&:nth-child(2) {
			animation-delay: 2s;
			span {
				animation-delay: 1.5s;
			}
		}

		&:nth-child(3) {
			animation: text_revel_name .5s forwards;
			animation-delay: 3s;
			span {
				animation-delay: 2.5s;
			}
		}

		span {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 0;
			background-color: $background_color_2;
			animation: text_revel_box 1s ease;
			animation-delay: .5s;
		}
	}
}

#projects {
	.projects {
		flex-direction: column;
		max-width: 1200px;
		margin: 0 auto;
		padding: 100px 0;
	}
	.project_header {
		h1 {
			margin-bottom: 50px;
		}
	}
	.all_projects {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	.project_item {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 80%;
		margin: 20px auto;
		overflow: hidden;
		border-radius: 10px;
		&:hover {
			.project_img {
				img {
					transform: scale(1.1);
				}
			}
		}
	}
	.project_info {
		padding: 30px;
		flex-basis: 50%;
		background-color: $background_color_5;
		height: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
		background-image: linear-gradient(60deg, #29332c 0%, #485563 100%);
		color: $color_5;
		h1 {
			font-size: 4rem;
			font-weight: 500;
		}
		h2 {
			font-size: 1.8rem;
			font-weight: 500;
			margin-top: 10px;
		}
		p {
			color: $color_smoke_white;
		}
	}
	.project_img {
		flex-basis: 50%;
		height: 300px;
		overflow: hidden;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			background-image: linear-gradient(60deg, #29332c 0%, #485563 100%);
			opacity: 50%;
		}
		img {
			transition: .3s ease transform;
		}
	}
}

#about {
	p {
		color: $color_6;
	}
	.about {
		flex-direction: column-reverse;
		text-align: center;
		max-width: 1200px;
		margin: 0 auto;
		padding: 100px 20px;
	}

	.col_left {
		width: 250px;
		height: 360px;

        .about_img {
            height: 100%;
            width: 100%;
            position: relative;
            border: 10px $color_smoke_white;
            &::after {
                content: ' ';
                position: absolute;
                left: -33px;
                top: 19px;
                height: 98%;
                width: 98%;
                border: 7px solid $color_dark_maroon;
                z-index: -1;
            }
        }
	}
	.col_right {
		width: 100%;
		h2 {
			font-size: 1.8rem;
			font-weight: 500;
			letter-spacing: .2rem;
			margin-bottom: 10px;
		}
		p {
			margin-bottom: 20px;
		}
		.cta {
			margin-bottom: 50px;
            padding: 10px 20px;
            font-size: 2rem;
            border: 2px solid maroon;
		}
	}
}

/* Contact Me Styling */
#contact {
    .container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h1 {
            padding-bottom: 75px;
        }
        
        form{
            width:90%;
            max-width: 500px;
            padding: 0px 30px 20px;
            background: $color_smoke_white;
            border-radius: 4px;
            box-shadow: 0 4px 10px $color_3;
            position: relative;

            &:after {
                content: ' ';
                position: absolute;
                left: -33px;
                top: 19px;
                height: 98%;
                width: 98%;
                border: 7px solid $color_dark_maroon;
                z-index: -1;
            }
    

        
        .fa-envelope {
            padding: 20px;
            width: 70px;
            text-align: center;
            text-decoration: none;
            top: 0;
            right: 60%;
            transform: translate(265%,-60%);
            background: #fff;
            font-size: 26px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        .input-field {

                width: 100%;
                display: flex;
                align-items: center;
                margin: 10px 0;
                position: relative;

                label {
                    flex-basis: 28%;
                    padding-right: 18px;
                    align-items:flex-start;
                }

                input {
                    flex-basis: 68%;
                    background: transparent;
                    border: 0;
                    outline: 0;
                    padding: 15px 0;
                    border-bottom: 1px solid #999;
                    color: #333;
                    font-size: 16px;
                    font-family: $font_family_1;
                }
                
                textarea {
                    flex-basis: 68%;
                    background: transparent;
                    border: 0;
                    outline: 0;
                    padding: 20px 0;
                    border-bottom: 1px solid #999;
                    color: #333;
                    font-size: 16px;
                    font-family: $font_family_1;
                }
            }

            button {
                background: $color_dark_maroon;
                display: inline-block;
                text-transform: uppercase;
                font-weight: bolder;
	            letter-spacing: 1rem;
	            margin-top: 30px;
                color: #fff;
                border-radius: 4px;
                border: 1px solid rgba(255, 255, 255, 0.7);
                padding: 10px 40px;
                outline: 0;
                cursor: pointer;
                display: block;
                margin: 30px auto 10px;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}

/* Footer Sass Section */
.footer {
    background-image: linear-gradient(60deg,#29332c 0%, #151615 100%);
    min-height: 200px;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    padding-left: 50px;

    h2 {
        color: $color_smoke_white;
        font-weight: 500;
        font-size: 1.8rem;
        letter-spacing: .1rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    p {
        color: $color_smoke_white;
        font-size: smaller;
    }

    .social_icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        .social-item {
            height: 80px;
            width: 100px;
            display: flex;
            align-items: center;
        
            .fa {
                color: aliceblue;

                &:hover {
                    opacity: 0.3;
                }

            }
        }
    }
}

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
    .cta {
        font-size: 2.5 rem;
        padding: 20px, 60px;
    }
    .section_title {
        font-size: 6rem;
    }

    #hero {
        h1 {
            font-size: 7rem;
        }
    }

    /* About Me */

    #about {
        .about {
            flex-direction: row;
        }
        .col_left {
            width: 650px;
            height: 600px;
            padding-left: 60x;
            .about_img {
                &::after {
                    left: -45px;
                    top: 34px;
                    height: 98%;
                    width: 98%;
                    border: 10px solid $color_dark_maroon;
                }
            }
        }

        .col_right {
            text-align: left;
            padding: 30px;

            h1 {
                text-align: left;
            }
        }
    }

    /* About Me End */
}

/* Media Query for Desktop */
@media only screen and (min-width: 1200px) {
    #header {
        .container{
        .hamburger {
            display: none;
        }

        
        .nav-list {
            ul {
                color: #000000;
                position: initial;
                display: block;
                height: auto;
                width: fit-content;
                background-color: transparent;

                li {
                    display: inline-block;
                    a {
                        font-size: 1.8rem;
                    }
                }

                a {
                    &::after {
                        display: none;
                    }
                }
            }
        }

    }
}
}